In [37]:
import os
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib
# import dash
# import plotly
import json
# plotly.tools.set_credentials_file(username='Brybtb', api_key='50jVIE7Kj5EttwIAtSyJ')
from plotly.offline import init_notebook_mode, iplot, plot
from IPython.display import display, HTML
from flask import Flask, render_template, url_for, jsonify

In [38]:
df = pd.read_csv("result.csv")

In [39]:
df = df.dropna()

In [40]:
df.head()

,Ticker,Company Name_x,Period,MarketCap,Year,Company Name_y,Sector,Company Name,PE
0,AA,Alcoa Inc,1980Q1,2060.12775,1980,Alcoa Inc,Materials,Alcoa Inc,4.08
1,ABC (Bro.),American Broadcasting Cos Inc,1980Q1,895.93600,1980,American Broadcasting Cos Inc,Consumer Discretionary,American Broadcasting Cos Inc,5.62
2,ABI,Applied Biosystems Inc.,1980Q1,772.44000,1980,Applied Biosystems Inc.,Health Care,Applied Biosystems Inc.,12.98
3,ABT,Abbott Laboratories,1980Q1,2208.20292,1980,Abbott Laboratories,Health Care,Abbott Laboratories,12.34
4,ACF,ACF Industries Inc,1980Q1,283.38132,1980,ACF Industries Inc,Industrials,ACF Industries Inc,5.92

In [47]:
df2 = df[['Ticker', 'Company Name', 'Year', 'Sector', 'MarketCap', 'PE' ]]
df2.head()

,Ticker,Company Name,Year,Sector,MarketCap,PE
0,AA,Alcoa Inc,1980,Materials,2060.12775,4.08
1,ABC (Bro.),American Broadcasting Cos Inc,1980,Consumer Discretionary,895.93600,5.62
2,ABI,Applied Biosystems Inc.,1980,Health Care,772.44000,12.98
3,ABT,Abbott Laboratories,1980,Health Care,2208.20292,12.34
4,ACF,ACF Industries Inc,1980,Industrials,283.38132,5.92

In [48]:
sectors = df.Sector.unique().tolist()

In [49]:
sectors

['Materials',
 'Consumer Discretionary',
 'Health Care',
 'Industrials',
 'Consumer Staples',
 'Utilities',
 'Financials',
 'Energy',
 'Information Technology',
 'Telecommunications']

In [50]:
years = df.Year.unique()[0::2]

In [51]:
years

array([1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000,
       2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018], dtype=int64)

In [57]:
df2.shape

(334487, 6)

In [56]:
df2["Market Cap"] = df2.groupby(['Ticker','Year']).mean()['MarketCap']

TypeError: incompatible index of inserted column with frame index

In [53]:
PE = df.groupby(['Ticker','Year']).mean()['PE']

In [31]:
Data = pd.DataFrame({"Market Cap":[market_cap],
                     "PE Ratio":[PE]    
})

In [32]:
Data

,Market Cap,PE Ratio
0,Ticker Year A 2000 25033.791783 ...,Ticker Year A 2000 38.956667 ...

In [22]:
Data = pd.DataFrame({"Sector":[sectors],
                     "Year":[years],
                     "Market Cap":[market_cap],
                     "PE Ratio":[PE]    
})

In [23]:
Data

,Sector,Year,Market Cap,PE Ratio
0,"[Materials, Consumer Discretionary, Health Car...","[1980, 1982, 1984, 1986, 1988, 1990, 1992, 199...",Sector Year Consumer Discreti...,Sector Year Consumer Discreti...